<p>refresh-user works!</p>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
<!--a [routerLink]="['/']"-->
<div>
  <ul>
    <li><a href="home">Home</a></li>


        <li><a href="refresh-user">refresh</a></li>
    <li ><a href="delete-user">delete user</a></li>

  </ul>
  <button (click)="logout()" id="logout">logout</button>
</div>
<div>
  <form (ngSubmit)="update(refreshForm.value)" novalidate #refreshForm = "ngForm" >
    <br>
    <p>input user id</p>
    <input type="text" name="userId" ngModel #ngUserId = "ngModel"  #userId required placeholder="input user id">

    <p>input name</p>
    <input type="text" name="name" #ngName="ngModel" ngModel #name required placeholder="input your name">

    <p>input surname</p>
    <input type="text" name="surName" ngModel #surName="ngModel" #surName required placeholder="input your surName">

    <p>input email</p>
    <input type="text" name="email" ngModel #email="ngModel" #email required placeholder="input your email">

    <p>input money of clients card</p>
    <input type="text" name="password" ngModel #password="ngModel" #password placeholder="input your password">

    <input type="submit" id="refreshButton" name="refreshButton" value="refresh" [disabled] = !refreshForm.valid>

    <!--    <input type="button" name="refreshButton" value="refresh" [disabled] = !submitRefreshForm.form.valid>-->
    <span id="ok" style="color:red"></span>
    <h3></h3>

  </form>
  <h1 *ngIf="t">success refresh</h1>
  <h1 *ngIf="error">error</h1>
</div>
</body>
</html>
