<p>home works!</p>
<p>welcome  {{email}}</p>

<div *ngIf="manager">
  <p>Hello manager</p>
</div>

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

<div>
  <ul>

    <li ><a href="refresh-user">refresh</a></li>
    <li ><a href="delete-user">delete</a></li>


      <ul>

      </ul>

  </ul>
  <button (click)="logout()" id="logout">logout</button>
</div>
<div id="header"><h1>Welcome {{email}}</h1></div>

</body>
</html>
